<h1>Make a Booking</h1>

<%= form_with url: create_booking_path do |form| %>
  
  <%= form.label :checkin_date, "checkin Date:" %>
  <%= form.date_field :checkin_date %>

  <%= form.label :checkout_date, "checkout Date:" %>
  <%= form.date_field :checkout_date %>

  <%= form.label :rooms, "Rooms:" %>
  <%= form.select :rooms, (1..@hotel.available_rooms) %>

  <%= form.label :members, "Members:" %>
  <%= form.select :members, (1..10) %>
  
  <%= form.hidden_field :hotel_id, value: @hotel.id %>
  <br />
  <%= form.submit "Book" %>
<% end %>