<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= hotel.location %>
  </p>

  <p>
    <strong>Total rooms:</strong>
    <%= hotel.total_rooms %>
  </p>

  <p>
    <strong>Booked rooms:</strong>
    <%= hotel.booked_rooms %>
  </p>

</div>
